:root {
    --primary-color: #1f5291;
    --background-color: #ffffff;
    --hover-background-color: #1f5291;
    --hover-text-color: #ffffff;
}

.header-candidato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0.5%;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162.5px;
}

.logo-container img {
    width: 100%;
    height: auto;
}

.header-candidato nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-candidato nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-link {
    margin: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-link.active::after {
    content: '';
    position: absolute;
    bottom: -6px; /* Posiciona a linha logo abaixo do elemento */
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 2px;
}

.header-link:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-background-color);
    border-radius: 10px;
}

.usuario-btn:hover {
    color: var(--hover-text-color);
    background-color: var(--hover-background-color);
    border-radius: 10px;
}

.opcoes-area {
    display: flex;
    align-items: center;
    position: relative;
}

.usuario-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    background-color: var(--hover-text-color);
    color: var(--primary-color);
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

/* Novo estilo para o nome do usuário */
.usuario-btn span {
    display: inline-block;
    max-width: 160px; /* Define o tamanho fixo máximo */
    overflow: hidden; /* Esconde o texto que ultrapassa o limite */
    text-overflow: ellipsis; /* Adiciona reticências (...) */
    white-space: nowrap; /* Impede que o texto quebre para uma nova linha */
}

.setas-container {
    margin-left: 10px;
    transition: transform 0.5s ease;
}

.setas-container.up {
    transform: rotate(360deg);
}

.usuario-btn.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--hover-background-color);
    color: var(--hover-text-color);
}

.opcoes-usuario {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    background-color: var(--background-color);
    width: auto;
    min-width: 100%;
    box-sizing: border-box;
}

.header-candidato .usuario-btn.active+.opcoes-usuario {
    display: block;
}

.opcao-usuario {
    display: block;
    color: var(--primary-color);
    background-color: var(--background-color);
    padding: 10px;
    border: 1px solid var(--primary-color);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.opcao-usuario:hover {
    background-color: #92abcb;
    color: var(--hover-text-color);
}

@media (max-width: 768px) {
    .logo-container {
        width: 120px;
    }

    .header-candidato nav {
        flex: 1;
        display: none;
    }

}
