.container {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 1000px;
    overflow: hidden; /* Garante que o conteúdo da tabela não ultrapasse os cantos arredondados */
}

.table th,
.table td {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: calc(100% / 6);
    /* Divide igualmente o espaço entre as colunas */
    /* Defina max-width apenas se desejar limitar ainda mais a largura */
}

.table td {
    text-overflow: clip;
    /* Adicione elipses para o conteúdo que ultrapassar */
    white-space: wrap;
    overflow-x: auto;
}

.table th:first-child,
.table td:first-child,
.table th:nth-child(2) {
    width: calc(100% / 6);
}

.table td:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(3),
.table th:nth-child(4),
.table td:nth-child(4),
.table th:nth-child(5),
.table td:nth-child(5),
.table th:nth-child(6),
.table td:nth-child(6) {
    width: calc(100% / 7);
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.btn-group .icon-btn {
    flex: 1;
    min-width: 30px;
    max-width: 30px;
    font-size: 18px;
    cursor: pointer;
    color: #007bff;
}

.btn-group .icon-btn:hover {
    color: #0056b3;
}

.campos-empresa {
    padding: 5px;
    position: relative;
}

/* Paginação */
.pagination {
    justify-content: center;
    margin-top: 20px;
}

/* Ajustar o layout de acordo com a largura da tela */
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}

@media (max-width: 768px) {

    /* Aumentar a responsividade das tabelas */
    .table {
        min-width: 100%;
    }

    .table th,
    .table td {
        font-size: 14px;
        word-break: break-word;
        /* Evita quebra de layout com texto longo */
    }

    /* Garantir que os botões e grupos de botões se comportem bem em telas menores */
    .btn-group {
        flex-wrap: wrap;
    }

    .btn-group .icon-btn {
        font-size: 16px;
        /* Ajustar o tamanho dos ícones em telas menores */
        margin: 5px 0;
    }

}

/* Melhorar responsividade do modal */
.modal-body {
    padding: 20px;
}