/* Loader overlay */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 1000px;
    overflow: hidden; /* Garante que o conteúdo da tabela não ultrapasse os cantos arredondados */
}

.table th,
.table td {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: calc(100% / 6);
    /* Divide igualmente o espaço entre as colunas */
    /* Defina max-width apenas se desejar limitar ainda mais a largura */
}

.table td {
    text-overflow: clip;
    /* Adicione elipses para o conteúdo que ultrapassar */
    white-space: wrap;
    overflow-x: auto;
}

.table th {
    position: sticky;
    top: 0;
    background: #f8f9fa;
    z-index: 1;
}

.table th .sort-icon {
    position: absolute;
    right: 10px;
}

.table th:first-child,
.table td:first-child,
.table th:nth-child(2) {
    width: calc(100% / 6);
}

.table td:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(3),
.table th:nth-child(4),
.table td:nth-child(4),
.table th:nth-child(5),
.table td:nth-child(5),
.table th:nth-child(6),
.table td:nth-child(6) {
    width: calc(100% / 7);
}

.table-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.btn-group .icon-btn {
    flex: 1;
    min-width: 30px;
    max-width: 30px;
    font-size: 18px;
    cursor: pointer;
    color: #007bff;
}

.btn-group .icon-btn:hover {
    color: #0056b3;
}

.campos-empresa {
    padding: 5px;
    position: relative;
}

.modal-footer .btn {
    flex: 1;
    margin: 0 5px;
}

.btn:focus,
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    outline: none;
}

/* Estilo para botão de sair */
.navbar .ml-auto .btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
    margin-left: auto;
}

.navbar .ms-auto .btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Paginação */
.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-link {
    color: #007bff;
}

.pagination .page-link:hover {
    color: #0056b3;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

@media (max-width: 768px) {

    .table th,
    .table td {
        font-size: 14px;
        /* Ajuste o tamanho da fonte conforme necessário */
    }

    .table {
        min-width: 600px;
        /* Ajuste conforme necessário para telas menores */
    }
}