.spinner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Certifique-se de que o spinner fique sobre o conteúdo */
    width: 100%; /* Garante que o spinner cubra toda a largura */
    height: 100%; /* Garante que o spinner cubra toda a altura */
    background: rgba(255, 255, 255, 0.7); /* Mantém o fundo semitransparente */
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
