.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 20px 10px 0 10px;
    background-color: #1F5291;
    width: 100%;
    flex-shrink: 0;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.logo-footer-container {
    width: 170px;
}

.logo-iffar-footer-container {
    width: 64px;
    margin-left: 20px;
}

.logo-footer-container img,
.logo-iffar-footer-container img {
    width: 100%;
    height: auto;
}

.footer-columns ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.footer-icon {
    margin-right: 5px;
}

.footer-columns li {
    transition: color 0.3s ease;
}

.footer-columns li:hover {
    color: #c4c4c4;
}

.assinatura {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #103664;
    color: #ffffff;
    font-size: 14px;
}

.assinatura a {
    text-decoration: none;
    color: #c4c4c4;
}

@media (max-width: 605px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .footer-columns {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-columns ul {
        margin: 5px; /* Reduz a margem dos itens de lista */
        padding: 5px; /* Reduz o padding dos itens de lista */
    }

    .footer-columns li {
        margin: 5px 0; /* Diminui o espaçamento entre os itens de lista */
    }

    .logo-footer-container img {
        width: 80%;
    }

}
