/* Estilo geral do scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Estilo do fundo do scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Estilo do polegar do scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #888;
    
}

/* Estilo do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Estilo do canto onde as barras de rolagem horizontal e vertical se encontram */
::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

.react-quill {
    border-radius: 5px;
}

.quill .ql-container {
    height: 150px;
}

.quill-transition {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 500px;
    opacity: 1;
}

.quill-transition-exit {
    max-height: 0;
    opacity: 0;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .ml-2 {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}

.form-group-custom {
    margin-bottom: 20px;
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-indicator.active {
    background-color: #008000;
}

.status-indicator.inactive {
    background-color: #ff0000;
}

.icon-reset {
    cursor: pointer;
    padding: 5px;
}


@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;
    }

    .table th,
    .table td {
        padding: 5px;
        font-size: 14px;
    }

    /* Optionally hide columns on smaller screens */
    .table th:nth-child(2),
    .table td:nth-child(2),
    .table th:nth-child(4),
    .table td:nth-child(4) {
        display: none;
    }
}