
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.form-control {
    width: auto;
    flex: 1;
}

button {
    white-space: nowrap;
}

.react-quill {
    border-radius: 5px;
}

.quill .ql-container {
    height: 150px;
}

.quill-transition {
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    max-height: 500px;
    opacity: 1;
}

.quill-transition-exit {
    max-height: 0;
    opacity: 0;
}

@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .ml-2 {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}

.table-responsive table th,
.table-responsive table td {
    width: 200px; /* Defina uma largura fixa para cada coluna */
    max-width: 200px; /* Limite a largura máxima */
}

.table-responsive table td {
    text-overflow: clip; /* Adicione elipses para o conteúdo que ultrapassar */
    white-space: nowrap; /* Impede a quebra de linha */
    overflow-x: auto;
}

.table-responsive {
    margin-bottom: 20px;
    overflow-x: auto;
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    max-height: 90%;
}

.form-group-custom {
    margin-bottom: 20px;
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-indicator.active {
    background-color: green;
}

.status-indicator.inactive {
    background-color: red;
}

.table-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.filters-container.show {
    max-height: 500px; /* Ajuste conforme o conteúdo */
}