.carousel-empresa-container {
    min-height: 50vh;
}

.no-jobs-message {
    font-size: 1.2em;
    color: #1F5291;
    margin-top: 20px;
}

.no-jobs-message a {
    color: #1876EA;
    text-decoration: underline;
}
