.carousel-empresa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 50vh;
}

.carousel-empresa-container h1 {
    font-size: 40px;
    color: #1876EA;
    margin: 2vh;
}

.carousel-empresa-container .swiper {
    width: 95%;
    padding: 0 30px;
}

.carousel-empresa-container .swiper-button-next,
.carousel-empresa-container .swiper-button-prev {
    color: #1876EA;
}

.carousel-empresa-container .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.swiper-scrollbar {
    display: none;
}

.align-center .swiper-wrapper {
    display: flex;
    justify-content: center; /* Centraliza os cartões */
}

.align-start .swiper-wrapper {
    display: flex;
    justify-content: flex-start; /* Alinha os cartões no início */
}

.no-jobs-message {
    font-size: 1.2em;
    color: #1F5291;
    margin-top: 20px;
}

.no-jobs-message a {
    color: #1876EA;
    text-decoration: underline;
}
