.curriculo-content-usuario {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9f9;
}

.curriculo-container-usuario {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.tabs-curriculo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px 30px;
}

.tabs-curriculo button {
    justify-content: center;
    width: 40%;
    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #575e67;
    transition: border-bottom 0.3s ease-in-out;
}

.tabs-curriculo button.active {
    color: #1F5291;
    border-bottom: 2px solid #1F5291;
}

.curriculo-form {
    width: 100%;
}

.curriculo-form .form-columns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.experience-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px 10px 0px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 75%;
    margin-bottom: 10px;
    transition: max-height 0.3s ease-in-out;
}

.experience-card .card-header {
    display: flex;
    word-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.experience-card .form-group {
    width: 100%;
}

.experience-card .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #1F5291;
}

.experience-card .form-group input,
.experience-card .form-group select,
.experience-card .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #D3D3D3;
    border-radius: 8px;
    font-size: 16px;
}

.experience-card .form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    margin-top: 15px;
    /* Adiciona a margem superior ao checkbox */
}

.experience-card .date-select {
    display: flex;
    gap: 10px;
}

.experience-card .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.experience-card .save-btn {
    width: auto;
    background-color: #1F5291;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}

.experience-card .save-btn:hover {
    background-color: #286abb;
}

.btn-exp {
    width: 50%;
}

.add-experience-btn,
.btn-visualizar-curriculo {
    justify-content: center;
    background-color: #1F5291;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    width: auto;
}

.add-experience-btn:hover,
.btn-visualizar-curriculo:hover {
    background-color: #286abb;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.popup-overlay.closing {
    animation: fadeOut 0.5s forwards;
}

.popup-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    transform: scale(0.8);
    animation: scaleIn 0.5s forwards;
}

.popup-content.closing {
    animation: scaleOut 0.5s forwards;
}

.popup-content .form-group {
    margin-bottom: 10px;
    width: 100%;
}

.popup-content .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #1F5291;
}

.popup-content .form-group input,
.popup-content .form-group select,
.popup-content .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #D3D3D3;
    border-radius: 8px;
    font-size: 16px;
}

.popup-content .form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    margin-top: 15px;
}

.popup-content .date-select {
    display: flex;
    gap: 10px;
}

.popup-content .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn-adicionar-curriculo {
    width: 75%;
}

@media (max-width: 768px) {

    .curriculo-form .form-columns-container {
        padding: 0;
    }

    .tabs-curriculo {
        margin-bottom: 0;
    }

    .experience-card {
        width: 100%;
    }

    .experience-card .date-select {
        flex-direction: column;
    }

    .btn-exp {
        width: 100%;
    }

    .btn-adicionar-curriculo {
        width: 100%;
    }

    .popup-content {
        width: 95%;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.8);
    }
}