.curriculo-content-usuario {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f9f9f9f9;
}

.curriculo-container-usuario {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.tabs-curriculo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px 30px;
}

.tabs-curriculo button {
    justify-content: center;
    width: 40%;
    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #575e67;
    transition: border-bottom 0.3s ease-in-out;
}

.tabs-curriculo button.active {
    color: #1F5291;
    border-bottom: 2px solid #1F5291;
}

.curriculo-form {
    width: 100%;
}

.curriculo-form .form-columns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

@media (max-width: 768px) {

    .curriculo-form .form-columns-container {
        padding: 0;
    }

    .tabs-curriculo {
        margin-bottom: 0;
    }

}