.mobile-filter-btn {
    display: none !important;
}

.vaga-card {
    position: static;
    top: auto;
    z-index: auto;
    transition: all 0.3s ease-in-out;
}

.vaga-card-selecionada {
    top: 6px;
    z-index: 1000;
    box-shadow: 0px 4px 12px rgba(0, 123, 255, 0.6);
    transform: scale(1.05);
}

.btn-buscar-vagas {
    max-width: 100px;
}

.btn-limpar-busca {
    display: block !important;
}

.filter-tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.filter-tag {
    display: inline-flex;
    align-items: center;
    background-color: #f1f1f1;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

.icon-remove-tag {
    margin-left: 8px;
    cursor: pointer;
    color: #ff0000;
}

.icon-remove-tag:hover {
    color: #cc0000;
}

@media (max-width: 767px) {
    .coluna-filtros {
        display: none;
    }

    .btn-limpar-busca {
        display: none !important;
    }

    .btn-buscar-vagas {
        max-width: 80px;
    }

    .mobile-filter-btn {
        display: block !important;
    }

    .coluna-detalhes-vagas {
        display: none;
    }

    .vaga-card-selecionada {
        transform: scale(1);
        position: static;
        top: auto;
        z-index: auto;
    }

    .btn-paginacao-vagas {
        width: 40px;
    }
}

@media (max-width: 991px) {

    .coluna-filtros {
        display: none;
    }

    .mobile-filter-btn {
        display: block !important;
    }

    .btn-paginacao-vagas {
        width: 40px;
    }
}